In [4]:
from selenium import webdriver
import os
from bs4 import BeautifulSoup
import time
from tqdm import tqdm
import pandas as pd   
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import numpy as np
import pickle

os.chdir("D:\XRP")

driver = webdriver.Chrome()

In [102]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
driver.get('https://www.mudleyworld.com/user/login')

In [18]:
# input user password
user = 'petch005@gmail.com'
password = 'kissmygirl'
user_form = driver.find_element_by_id('login-form-login')
user_form.send_keys(user)
user_form = driver.find_element_by_id('login-form-password')
user_form.send_keys(password)
user_form.send_keys(Keys.RETURN)

In [19]:
# find club button
club_botton = driver.find_element_by_class_name('menu-item.menu-club').click()

In [37]:
# find table
table = driver.find_element_by_id('table_bullet_open')
# header
header = table.find_elements_by_tag_name('th')
headers = [head.text for head in header]
# rows

In [57]:
# rows
rows = table.find_elements_by_tag_name('tr')

In [157]:
data = [row.text for row in rows]

In [158]:
df = pd.DataFrame(data)
df2 = df[0].str.split('\n').to_frame()
df2 = df2.drop(0)
df2 = df2[0].apply(pd.Series).reset_index(drop=True)

In [159]:
mask = ((df2[1] != '0.00') & (df2[2] != '0.00'))
df2 = df2[mask]

In [160]:
df2[['name_open', 'Close Price']] = df2[2].str.split(expand=True)
df2[['name_close', 'Position']] = df2[3].str.split(expand=True)

In [161]:
df2 = df2.drop([2,3], axis=1)
df2 = df2.rename(columns={1:'Open Price', 
                    0:'Bullet'})

In [162]:
df2

   Bullet Open Price name_open Close Price name_close Position
0     326  12,761.00  Danusorn   12,722.50   Danusorn     OPEN
1     325  12,698.00  Danusorn   12,183.00   Danusorn     OPEN
2     328  12,678.00  Danusorn   12,182.00   Danusorn     OPEN
3     327  12,591.00  Danusorn   12,176.50   Danusorn     OPEN
4     324  12,519.50  Danusorn   12,470.50   Danusorn     OPEN
5     323  12,334.50  Danusorn   12,254.43   Danusorn     OPEN
6     322  12,170.00  Danusorn   11,097.00    LUKCHAI     OPEN
7     321  12,058.00  Danusorn   10,871.00    LUKCHAI     OPEN
8     329  11,949.03  Danusorn   11,843.97   Danusorn     OPEN
9     330  11,514.00  Danusorn   11,301.73   Danusorn     OPEN
10    320  11,360.80  Danusorn   10,179.00    LUKCHAI     OPEN
11    334  11,017.50      Panu   10,944.50       Panu     OPEN
12    331  10,847.00      Panu   10,768.00       Panu     OPEN
13    332  10,751.00      Panu   10,045.50       Panu     OPEN
14    319  10,593.00     Panot   10,334.00      Panot     OPEN
15    338  10,495.50      Panu   10,030.50       Panu     OPEN
16    346  10,446.00      Panu   10,030.50       Panu     OPEN
17    361  10,332.00      Panu   10,256.50       Panu     OPEN
18    318  10,311.00      Panu   10,238.50       Panu     OPEN
19    340  10,251.00      Panu   10,177.00       Panu     OPEN
20    317  10,067.50      Panu    9,986.50       Panu     OPEN
21    351  10,010.50      Panu    9,717.50       Panu    CLOSE
22    353   9,958.43      Panu    9,880.00       Panu     OPEN
23    354   9,861.00      Panu    9,644.00       Panu    CLOSE
24    352   9,859.00      Panu    9,676.00       Panu     OPEN
25    336   9,838.00      Panu    9,674.50       Panu    CLOSE
26    339   9,806.50      Panu    9,644.50       Panu    CLOSE
27    343   9,777.50      Panu    9,677.50       Panu    CLOSE
28    342   9,728.00     Panot    9,509.50      Panot     OPEN
29    316   9,727.00      Panu    9,672.50       Panu    CLOSE
30    337   9,727.00      Panu    9,648.00       Panu    CLOSE
31    333   9,695.00      Panu    9,620.00       Panu    CLOSE
32    355   9,678.50      Panu    9,576.43       Panu    CLOSE
33    356   9,588.00      Panu    9,481.00       Panu     OPEN
34    357   9,586.50      Panu    9,276.00       Panu     OPEN
35    359   9,542.50      Panu    9,448.00       Panu    CLOSE
36    358   9,409.50      Panu    8,444.87       Panu     OPEN
37    335   9,244.00      Panu    8,647.13       Panu     OPEN
38    341   9,117.50      Panu    8,651.20       Panu    CLOSE
39    360   9,085.50      Panu    9,013.50       Panu    CLOSE
40    345   8,654.00      Panu    8,601.00       Panu    CLOSE
41    344   8,441.50      Panu    7,145.50  Maneenoot    CLOSE
42    362   8,276.00      Panu    8,218.00       Panu     OPEN
43    347   8,157.47      Panu    7,938.00       Panu    CLOSE
44    348   8,090.50      Panu    8,014.50       Panu     OPEN
45    350   7,948.50      Panu    7,846.00       Panu    CLOSE
46    363   7,829.00      Panu    7,715.00       Panu    CLOSE
47    349   7,752.50      Panu    6,033.50       Panu    CLOSE
48    364   7,737.00      Panu    7,687.00       Panu    CLOSE
49    371   7,150.50      Panu    7,096.00       Panu    CLOSE
50    370   6,927.00      Panu    6,847.00       Panu    CLOSE
51    369   6,916.50      Panu    6,776.50       Panu    CLOSE
52    372   6,844.00      Panu    6,796.00       Panu    CLOSE
53    368   6,611.00      Panu    6,158.50       Panu    CLOSE
54    367   6,122.00      Panu    5,926.50       Panu    CLOSE
55    365   5,390.50      Panu    5,274.00       Panu    CLOSE
56    366   5,198.00      Panu    5,117.00       Panu    CLOSE
57    204   4,978.00      Panu        0.00      CLOSE     None